{% extends 'base.html' %}
{% block headblock %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/kanban.css' %}">
{% endblock headblock %}
{% block content %}
  
  <h2>
    Estado de los articulos
  </h2>

  <div class="kanban">
    <div class="state draft">
      <h4>Borrador</h4>

      <div class="items" data-state="draft">
        {% for article in draft_articles %}
          {% comment %} Solamente el autor o el admin pueden pasar a otro estado {% endcomment %}
          <div 
            class="item {% if is_autor or is_admin %}clickable{% endif %}" 
            draggable="{% if is_autor or is_admin %}true{% else %}false{% endif %}" 
            data-id="{{ article.id }}"
          >
            <p>{{ article.title }}</p>
            <p>{{ article.autor.username }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="state revision">
      <h4>Revisión</h4>

      <div class="items" data-state="revision">
        {% for article in revision_articles %}
          {% comment %} Solamente el editor o el admin pueden pasar a otro estado {% endcomment %}
          <div 
            class="item {% if is_editor or is_admin %}clickable{% endif %}" 
            draggable="{% if is_editor or is_admin %}true{% else %}false{% endif %}" 
            data-id="{{ article.id }}"
          >
            <p>{{ article.title }}</p>
            <p>{{ article.autor.username }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="state edited">
      <h4>Editado</h4>

      <div class="items" data-state="edited">
        {% for article in edited_articles %}
          {% comment %} Solamente el editor o el admin pueden pasar a otro estado {% endcomment %}
          <div 
            class="item {% if is_admin or is_publisher %}clickable{% endif %}" 
            draggable="true" 
            data-id="{{ article.id }}"
          >
            <p>{{ article.title }}</p>
            <p>{{ article.autor.username }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="state published">
      <h4>Publicado</h4>

      <div class="items" data-state="published">
        {% for article in published_articles %}
          <div 
            class="item {% if is_admin or is_publisher %}clickable{% endif %}" 
            draggable="{% if is_admin or is_publisher %}true{% else %}false{% endif %}" 
            data-id="{{ article.id }}"
          >
            <p>{{ article.title }}</p>
            <p>{{ article.autor.username }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="state inactive">
      <h4>Inactivo</h4>

      <div class="items" data-state="inactive">
        {% for article in inactive_articles %}
          <div 
            class="item {% if is_admin or is_autor %}clickable{% endif %}" 
            draggable="{% if is_admin or is_autor %}true{% else %}false{% endif %}" 
            data-id="{{ article.id }}"
          >
            <p>{{ article.title }}</p>
            <p>{{ article.autor.username }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

<script src="{% static 'scripts/kanban.js' %}" defer></script>
{% endblock %}