{% extends "base.html" %} 

{% block headblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/category_list.css' %}">
{% endblock headblock %}

{% block content %}
<h2>Artículos</h2>

<div class="list-container">
    {% for article in articles %}
        <a href="{% url 'article-detail' article.id %}?from=article-list" class="category">{{ article.title }}</a>
    {% endfor %}

    {% if can_create %}
        <a href="{% url 'article-create' %}" class="button">Crear nuevo artículo</a>
    {% endif %}
</div>   

{% endblock content %}
