{% extends "base.html" %} 

{% block headblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/category_list.css' %}">
{% endblock headblock %}

{% block content %}
<h2>Categorías</h2>

<form method="get" action="{% url 'category-list' %}" class="search-form">
    <div class="form-group">
        <label for="search-input">Buscar por nombre:</label>
        <input id="search-input" type="text" name="search_term" 
        value="{{ form.search_term.value|default_if_none:'' }}" 
        placeholder="Buscar categoría" class="search-input">
    </div>
    
    <div class="form-group">
        <label for="filter-select">Filtrar por tipo:</label>
        <select id="filter-select" name="filter_type" class="filter-select">
            <option value="all" {% if form.filter_type.value == 'all' %}selected{% endif %}>Todos</option>
            <option value="free" {% if form.filter_type.value == 'free' %}selected{% endif %}>Free</option>
            <option value="suscription" {% if form.filter_type.value == 'suscription' %}selected{% endif %}>Suscripción</option>
            <option value="pay" {% if form.filter_type.value == 'pay' %}selected{% endif %}>Pago</option>
        </select>
    </div>

    <div class="form-group">
        {{ form.order_by.label_tag }} 
        {{ form.order_by }}            
    </div>
    

    <button type="submit" class="search-button">Buscar</button>
</form>

<div class="list-container">
    {% if categories %}
        {% for category in permited_categories %}
            <div class="category-item">
                <div class="category-row">
                    <a href="{% url 'category-detail' category.id %}" class="category">{{ category.name }}</a>
                    <button class="favorite-btn" data-category-id="{{ category.id }}">
                        {% if category.id in favorite_categories %}
                            💖
                        {% else %}
                            🤍
                        {% endif %}
                    </button>
                </div>
                <p>Tipo: {{ category.get_type_display }}</p>
            </div>
        {% endfor %}
        {% for category in not_permited_categories %}
            <div class="category-item">
                <div class="category-row">
                    <a href="{% url 'category-detail' category.id %}" class="category">{{ category.name }}</a>
                        <span class="lock-icon">🔒</span>
                </div>
                <p>Tipo: {{ category.get_type_display }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No se encontraron categorías que coincidan con la búsqueda.</p>
    {% endif %}
    
    {% if can_create_categories %}
        <a href="{% url 'category-create' %}" class="button">Crear nueva categoría</a>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const favoriteButtons = document.querySelectorAll('.favorite-btn');
    
        favoriteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const categoryId = this.getAttribute('data-category-id');
                
                fetch("{% url 'toggle-favorite-category' 0 %}".replace('/0/', `/${categoryId}/`), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'), 
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'added') {
                        this.innerHTML = '💖';
                    } else if (data.status === 'removed') {
                        this.innerHTML = '🤍';
                    }
                });
            });
        });
    
        // Función para obtener el CSRF token de las cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock content %}
