{% extends "base.html" %} 
{% block headblock %}
{% load static %}
<script src="https://js.stripe.com/v3/"></script>
<link rel="stylesheet" href="{% static 'css/category_detail.css' %}">
{% endblock headblock %}
{% block content %}
<div class="category-details-container">

<h2>{{ category.name }}</h2>
<p>Descripcion: {{ category.description }}</p>

<p>Tipo: {{ category.get_type_display }}</p>
<p>Estado: {{ category.state|yesno:"Activo,Inactivo" }}</p>
<p>Moderado: {{ category.is_moderated|yesno:"Sí,No" }}</p>
<p>Precio $: {{ category.price }}</p>

{% if can_manage_categories %}
    <a href="{% url 'category-update' category.id %}">Editar</a>
    <a href="{% url 'category-delete' category.id %}">Eliminar</a>
{% endif %}

<a href="{% url 'category-list' %}">Volver a la lista</a>
<br><br>
{% if category.type == "pay" %}
    <!-- Botón de pago -->
    <button id="checkout-button">Pagar por esta Categoría</button>
{% endif %}
</div>

<script>
    // Configuración de Stripe con tu clave pública
    const stripe = Stripe("pk_test_51Q3IEOFWDLOQpTHGvvQ2a6Kpf2z9JdbMp5NpnMtBFtzUqTNRjLPVxWl1bbd2kvDRslXnEhtI2oCNOHCdktGdW6Zm00fnnxrBgX");  // Usamos la clave pública de Stripe

    const checkoutButton = document.getElementById("checkout-button");

    // Función para extraer el ID de la categoría (se pasa desde Django)
    const categoryId = "{{ category.id }}";  // ID de la categoría directamente desde el contexto

    checkoutButton.addEventListener("click", function () {
        fetch(`/categories/crear-checkout-session/${categoryId}/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
        .then(function (response) {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(function (sessionData) {
            console.log("Datos de la sesión recibidos:", sessionData);
            if (sessionData.redirect === "exists") {
                window.location.href = `/categories/${categoryId}/exists/`;  // Verifica que esta ruta sea correcta
            } else if (sessionData.id) {
                return stripe.redirectToCheckout({ sessionId: sessionData.id });
            } else {
                console.error("No se recibió un sessionId válido:", sessionData);
            }
        })
        .catch(function (error) {
            console.error("Error en la solicitud fetch:", error);
        });
    });
</script>
{% endblock content %}
