{% extends "base.html" %} 

{% block headblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock headblock %}

{% block content %}

<section class="articles">
      
  {% if featured_articles %}
  <div class="section-header normal-header">
    <h3>Artículos Destacados</h3>
  </div>
  <br>
  <div class="slideshow-container">
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

    {% for article in featured_articles %}
    
      <div class="mySlides fade">
        <img class="carousel" src="{{ article.image_url }}">
        <div class="text">
          <a href="{% url 'article-detail' article.id %}?from=home">{{ article.title }}</a>
          <p>{{ article.description }}</p>
        </div>
      </div>
    {% endfor %}

    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    {% for article in featured_articles %}
      <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor %}
  </div>
  {% endif %}
</section>
<main class="main-container">
  
  <section class="filters">
    <!-- Botón con ícono de filtro -->
    <button id="filterToggle" class="filter-button">
      <i class="fas fa-filter"></i> Filtrar
    </button>

    <!-- Cuadro de filtros, inicialmente oculto -->
    <div id="filterPanel" class="filter-panel" style="display: none;">
      <form method="get" action="{% url 'home' %}" class="filter-form">
        <div class="form-group">
          <label for="tags">Filtrar por tag:</label>
          {{ form.tags }}
        </div>

        <div class="form-group">
          <label for="category">Filtrar por categoría:</label>
          {{ form.category }}
        </div>

        <div class="form-group">
          <label for="category_type">Filtrar por tipo de categoría:</label>
          {{ form.category_type }}
        </div>

        <button type="submit" class="btn btn-primary" onclick="applyFilters()">Aplicar Filtros</button>
      </form>
    </div>
  </section>

  <form method="get" action="{% url 'home' %}" class="filter-bar">
    <!-- Botón para alternar entre ascendente y descendente -->
    <button type="button" class="toggle-order" onclick="toggleOrderDirection()">
      {% if order_direction == 'asc' %}
          ▲ Asc
      {% else %}
          ▼ Des
      {% endif %}
    </button>
    
    <!-- Campo para ordenar por fecha, visualizaciones, etc. -->
    <select name="order_by" onchange="this.form.submit()">
      <option value="published_at" {% if order_by == 'published_at' or order_by == '-published_at' %}selected{% endif %}>Fecha</option>
      <option value="likes_number" {% if order_by == 'likes_number' or order_by == '-likes_number' %}selected{% endif %}>Likes</option>
      <option value="views_number" {% if order_by == 'views_number' or order_by == '-views_number' %}selected{% endif %}>Visualizaciones</option>
    </select>
    
    <!-- Campo para filtrar por rango de tiempo -->
    <select name="time_range" onchange="this.form.submit()">
        <option value="all" {% if time_range == 'all' %}selected{% endif %}>Sin límite</option>
        <option value="1h" {% if time_range == '1h' %}selected{% endif %}>Última hora</option>
        <option value="24h" {% if time_range == '24h' %}selected{% endif %}>Últimas 24 horas</option>
        <option value="7d" {% if time_range == '7d' %}selected{% endif %}>Últimos 7 días</option>
        <option value="30d" {% if time_range == '30d' %}selected{% endif %}>Últimos 30 días</option>
        <option value="365d" {% if time_range == '365d' %}selected{% endif %}>Últimos 365 días</option>
    </select>

    <!-- Se ejecuta cuando se seleccionan las opciones -->
    <noscript>
        <button type="submit" onclick="applyFilters()">Aplicar</button>
    </noscript>
</form>
<!--Resultados de busquedas o filtros-->

{% if filter_active %}
  <section class="articles">
    <div class="section-header normal-header">
      <h3>Artículos encontrados</h3>
    </div>
    {% if all_articles %}
      {% for article in all_articles %}
        <div class="article-card">
          <a href="{% url 'article-detail' article.id %}?from=home">
            <h2 class="article-title">{{ article.title }}</h2>
          </a>
          <img class="articulos" src="{{ article.image_url }}" >
        
          <p class="author">Autor: {{ article.autor.username }}</p>
          <p class="description">{{ article.description }}</p>
          <div class="article-actions">
            <span><i class="fas fa-eye"></i> {{ article.views_number }}</span>
            <span><i class="fas fa-share"></i> {{ article.shares_number }}</span>
            <span><i class="fas fa-thumbs-up"></i> {{ article.likes_number }}</span>
            <span><i class="fas fa-thumbs-down"></i> {{ article.dislikes_number }}</span>
            <span>
          </div>

          <div class="article-tags">
            <strong>Tags:</strong>
            {% if article.tags.all %}
              {% for tag in article.tags.all %}
                <span class="tag">{{ tag.name }}</span>
              {% endfor %}
            {% else %}
              No hay tags asignados
            {% endif %}
          </div>

          <div>
            <p>Promedio de calificación: 
            {% if article.avg_rating %}
              {{ article.avg_rating }} estrellas
            {% else %}
              No calificado
            {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <!-- Mostrar un mensaje si no se encuentran artículos -->
      <p class="no-results-message">No se encontraron artículos que coincidan con los filtros aplicados.</p>
    {% endif %}
  </section>
  <aside class="categories">
    <form method="get" action="{% url 'home' %}" class="search-form">
      <input 
          type="text" 
          name="search" 
          placeholder="Buscar artículos..." 
          value="{{ search_query }}" 
          class="search-input">
      <button type="submit" class="search-button">
          <i class="fas fa-search"></i>
      </button>
      </form>
      <div class="category-section">
          <h3>Categorías - Free</h3>
          {% for category in permited_categories %}
            {% if category.type == 'free' %}
              {% if 'ver_categorias_suscriptor' in permisos%}
                <div class="category-header">
                  <p class="category-name">{{ category.name }}</p>
                  <button class="favorite-btn" data-category-id="{{ category.id }}">
                    {% if category.id in favorite_categories %}
                        💖
                    {% else %}
                        🤍
                    {% endif %}
                  </button>
                </div>
              {% else %}
                <p class="category-name">{{ category.name }}</p>
              {% endif %}
            {% endif %}
          {% endfor %}
      </div>
      <div class="category-section">
          <h3>Categorías - Suscriptor</h3>
          {% for category in permited_categories %}
            {% if category.type == 'suscription' %}
              <div class="category-header">
                <p class="category-name">{{ category.name }}</p>
                <button class="favorite-btn" data-category-id="{{ category.id }}">
                  {% if category.id in favorite_categories %}
                      💖
                  {% else %}
                      🤍
                  {% endif %}
                </button>
              </div>
            {% endif %}
          {% endfor %}
          {% for category in not_permited_categories %}
            {% if category.type == 'suscription' %} 
              <p>🔒 {{category.name}}</p>
            {% endif %}
          {% endfor %}
      </div>
      <div class="category-section">
          <h3>Categorías - Pagas</h3>
          {% for category in permited_categories %}
            {% if category.type == 'pay' %}
              <div class="category-header">
                <p class="category-name">{{ category.name }}</p>
                <button class="favorite-btn" data-category-id="{{ category.id }}">
                  {% if category.id in favorite_categories %}
                      💖
                  {% else %}
                      🤍
                  {% endif %}
                </button>
              </div>
            {% endif %}
          {% endfor %}

          {% for category in not_permited_categories %}
            {% if category.type == 'pay' %} 
            <p>🔒 {{category.name}}</p>
            {% endif %}
          {% endfor %}
      </div>
  </aside>

{% else %}
  <!-- Atriculos de categorias favoritas -->
  {% if 'ver_categorias_suscriptor' in permisos and favorite_categories and favorite_articles %}
  <section class="articles">
      <div class="section-header favorite-header">
        <h3>Artículos de Categorías Favoritas</h3>
      </div>
      {% if favorite_articles %}
        {% for article in favorite_articles %}
        <div class="article-card">
          <a href="{% url 'article-detail' article.id %}?from=home">
            <h2 class="article-title">{{ article.title }}</h2>
          </a>
          <img class="articulos" src="{{ article.image_url }}" >         
          <p class="author">Autor: {{ article.autor.username }}</p>
          <p class="description">{{ article.description }}</p>
          <div class="article-actions">
            <span><i class="fas fa-eye"></i> {{ article.views_number }}</span>
            <span><i class="fas fa-share"></i> {{ article.shares_number }}</span>
            <span><i class="fas fa-thumbs-up"></i> {{ article.likes_number }}</span>
            <span><i class="fas fa-thumbs-down"></i> {{ article.dislikes_number }}</span>
            <span>
          </div>

          <div class="article-tags">
            <strong>Tags:</strong>
            {% if article.tags.all %}
              {% for tag in article.tags.all %}
                <span class="tag">{{ tag.name }}</span>
              {% endfor %}
            {% else %}
              No hay tags asignados
            {% endif %}
          </div>

          <div>
            <p>Promedio de calificación: 
            {% if article.avg_rating %}
              {{ article.avg_rating }} estrellas
            {% else %}
              No calificado
            {% endif %}
            </p>
          </div>
          
        </div>
        {% endfor %}
      {% else %}
        <!-- Mostrar un mensaje si no se encuentran artículos -->
        <p class="no-results-message">No se encontraron artículos que coincidan con los filtros aplicados.</p>
      {% endif %}
    </section>
    <aside class="categories">
      <form method="get" action="{% url 'home' %}" class="search-form">
        <input 
            type="text" 
            name="search" 
            placeholder="Buscar artículos..." 
            value="{{ search_query }}" 
            class="search-input">
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
        </form>
        <div class="category-section">
            <h3>Categorías - Free</h3>
            {% for category in permited_categories %}
              {% if category.type == 'free' %}
                {% if 'ver_categorias_suscriptor' in permisos%}
                  <div class="category-header">
                    <p class="category-name">{{ category.name }}</p>
                    <button class="favorite-btn" data-category-id="{{ category.id }}">
                      {% if category.id in favorite_categories %}
                          💖
                      {% else %}
                          🤍
                      {% endif %}
                    </button>
                  </div>
                {% else %}
                  <p class="category-name">{{ category.name }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
        </div>
        <div class="category-section">
            <h3>Categorías - Suscriptor</h3>
            {% for category in permited_categories %}
              {% if category.type == 'suscription' %}
                <div class="category-header">
                  <p class="category-name">{{ category.name }}</p>
                  <button class="favorite-btn" data-category-id="{{ category.id }}">
                    {% if category.id in favorite_categories %}
                        💖
                    {% else %}
                        🤍
                    {% endif %}
                  </button>
                </div>
              {% endif %}
            {% endfor %}
            {% for category in not_permited_categories %}
              {% if category.type == 'suscription' %} 
                <p>🔒 {{category.name}}</p>
              {% endif %}
            {% endfor %}
        </div>
        <div class="category-section">
            <h3>Categorías - Pagas</h3>
            {% for category in permited_categories %}
              {% if category.type == 'pay' %}
                <div class="category-header">
                  <p class="category-name">{{ category.name }}</p>
                  <button class="favorite-btn" data-category-id="{{ category.id }}">
                    {% if category.id in favorite_categories %}
                        💖
                    {% else %}
                        🤍
                    {% endif %}
                  </button>
                </div>
              {% endif %}
            {% endfor %}

            {% for category in not_permited_categories %}
              {% if category.type == 'pay' %} 
              <p>🔒 {{category.name}}</p>
              {% endif %}
            {% endfor %}
        </div>
    </aside>
  {% endif %}
  <!-- Atriculos de categorias no favoritas -->
  {% if normal_articles %}
    <section class="articles">
      {% if 'ver_categorias_suscriptor' in permisos and favorite_categories and favorite_articles%}
        <div class="section-header normal-header">
          <h3>Artículos de Otras Categorías</h3>
        </div>
      {% else %}
        <div class="section-header normal-header">
          <h3>Todos los Artículos</h3>
        </div>
      {% endif %}
      {% for article in normal_articles %}
      <div class="article-card">
        <a href="{% url 'article-detail' article.id %}?from=home">
          <h2 class="article-title">{{ article.title }}</h2>
        </a>        
        <img class="articulos" src="{{ article.image_url }}" >
        <p class="author">Autor: {{ article.autor.username }}</p>
        <p class="description">{{ article.description }}</p>
        <div class="article-actions">
          <span><i class="fas fa-eye"></i> {{ article.views_number }}</span>
          <span><i class="fas fa-share"></i> {{ article.shares_number }}</span>
          <span><i class="fas fa-thumbs-up"></i> {{ article.likes_number }}</span>
          <span><i class="fas fa-thumbs-down"></i> {{ article.dislikes_number }}</span>
          <span>
        </div>

        <div class="article-tags">
          <strong>Tags:</strong>
          {% if article.tags.all %}
            {% for tag in article.tags.all %}
              <span class="tag">{{ tag.name }}</span>
            {% endfor %}
          {% else %}
            No hay tags asignados
          {% endif %}
        </div>

        <div>
          <p>Promedio de calificación: 
          {% if article.avg_rating %}
            {{ article.avg_rating }} estrellas
          {% else %}
            No calificado
          {% endif %}
          </p>
        </div>
        
      </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if 'ver_categorias_suscriptor' not in permisos or not favorite_categories or not favorite_articles %}
    <aside class="categories">
      <form method="get" action="{% url 'home' %}" class="search-form">
        <input 
            type="text" 
            name="search" 
            placeholder="Buscar artículos..." 
            value="{{ search_query }}" 
            class="search-input">
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
        </form>
        <div class="category-section">
            <h3>Categorías - Free</h3>
            {% for category in permited_categories %}
              {% if category.type == 'free' %}
                {% if 'ver_categorias_suscriptor' in permisos%}
                  <div class="category-header">
                    <p class="category-name">{{ category.name }}</p>
                    <button class="favorite-btn" data-category-id="{{ category.id }}">
                      {% if category.id in favorite_categories %}
                          💖
                      {% else %}
                          🤍
                      {% endif %}
                    </button>
                  </div>
                {% else %}
                  <p class="category-name">{{ category.name }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
        </div>
        <div class="category-section">
            <h3>Categorías - Suscriptor</h3>
            {% for category in permited_categories %}
              {% if category.type == 'suscription' %}
                <div class="category-header">
                  <p class="category-name">{{ category.name }}</p>
                  <button class="favorite-btn" data-category-id="{{ category.id }}">
                    {% if category.id in favorite_categories %}
                        💖
                    {% else %}
                        🤍
                    {% endif %}
                  </button>
                </div>
              {% endif %}
            {% endfor %}
            {% for category in not_permited_categories %}
              {% if category.type == 'suscription' %} 
                <p>🔒 {{category.name}}</p>
              {% endif %}
            {% endfor %}
        </div>
        <div class="category-section">
            <h3>Categorías - Pagas</h3>
            {% for category in permited_categories %}
              {% if category.type == 'pay' %}
                <div class="category-header">
                  <p class="category-name">{{ category.name }}</p>
                  <button class="favorite-btn" data-category-id="{{ category.id }}">
                    {% if category.id in favorite_categories %}
                        💖
                    {% else %}
                        🤍
                    {% endif %}
                  </button>
                </div>
              {% endif %}
            {% endfor %}

            {% for category in not_permited_categories %}
              {% if category.type == 'pay' %} 
              <p>🔒 {{category.name}}</p>
              {% endif %}
            {% endfor %}
        </div>
    </aside>
  {% endif %}
{% endif %}

</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var filterButton = document.getElementById('filterToggle');
    var filterPanel = document.getElementById('filterPanel');
    
    // Alternar el cuadro de filtros cuando se hace clic en el botón
    filterButton.addEventListener('click', function() {
      if (filterPanel.style.display === 'none' || filterPanel.style.display === '') {
        filterPanel.style.display = 'block';
      } else {
        filterPanel.style.display = 'none';
      }
    });
  });

  // Función que actualiza los parámetros de la URL al cambiar filtros
  function applyFilters(orderDirection = "desc") {
    const url = new URL(window.location.href);
    const searchInput = document.querySelector('input[name="search"]').value;
    const orderBy = document.querySelector('select[name="order_by"]').value;
    const timeRange = document.querySelector('select[name="time_range"]').value;

    // Obtener los valores de tags, categorías y tipo de categoría
    const category = document.querySelector('select[name="category"]').value;
    const tag = document.querySelector('select[name="tags"]').value;
    const categoryType = document.querySelector('select[name="category_type"]').value;

    // Actualiza los parámetros en la URL
    url.searchParams.set('search', searchInput);
    url.searchParams.set('order_by', orderBy);
    url.searchParams.set('time_range', timeRange);
    url.searchParams.set('order_direction', orderDirection);

    // Asegurarse de mantener los parámetros de tags, categorías y tipo de categoría
    url.searchParams.set('category', category);
    url.searchParams.set('tag', tag);
    url.searchParams.set('category_type', categoryType);

    // Redirige con los nuevos parámetros
    window.location.href = url;
  }

  // Función para alternar entre ascendente y descendente
  function toggleOrderDirection() {
    const url = new URL(window.location.href);
    const currentOrderDirection = url.searchParams.get('order_direction') || 'desc';
    const newOrderDirection = currentOrderDirection === 'asc' ? 'desc' : 'asc';

    // Luego aplica los filtros manteniendo el nuevo valor de order_direction
    applyFilters(newOrderDirection);
  }
</script>

<!-- Para marcar como favorito-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const favoriteButtons = document.querySelectorAll('.favorite-btn');

    favoriteButtons.forEach(button => {
      button.addEventListener('click', function() {
        const categoryId = this.getAttribute('data-category-id');
        
        fetch("{% url 'toggle-favorite-category' 0 %}".replace('/0/', `/${categoryId}/`), {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
          },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'added') {
                this.innerHTML = '💖';
            } else if (data.status === 'removed') {
                this.innerHTML = '🤍';
            }
        });
      });
    });
  });

  let slideIndex = 1;
  slideTimer = setTimeout(plusSlides, 5000)

  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n=1) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    clearTimeout(slideTimer)
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1
    } else if (n < 1) {
      slideIndex = slides.length
    }

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";

    slideTimer = setTimeout(plusSlides, 5000)
  }
</script>
{% endblock content %}