{% extends "base.html" %} 

{% block headblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock headblock %}

{% block content %}

<main class="main-container">
  <section class="articles">
      {% for article in articles %}
      <div class="article-card">
        <a href="{% url 'article-detail' article.id %}?from=home">
          <h2 class="article-title">{{ article.title }}</h2>
        </a>        
        <p class="author">{{ article.autor.username }}</p>
        <p class="description">{{ article.description }}</p>
        <div class="article-actions">
          <span><i class="fas fa-eye"></i> {{ article.views_number }}</span>
          <span><i class="fas fa-share"></i> {{ article.shares_number }}</span>
          <span><i class="fas fa-thumbs-up"></i> {{ article.likes_number }}</span>
          <span><i class="fas fa-thumbs-down"></i> {{ article.dislikes_number }}</span>
        </div>
        <div>
          <p>Promedio de calificación: 
          {% if article.avg_rating %}
            {{ article.avg_rating }} estrellas
          {% else %}
            No calificado
          {% endif %}
          {% if not authenticated and article.category.type != 'free' %}
            <p><i>Este artículo pertenece a una categoría de suscripción o de pago. Inicie sesión o suscríbase para ver el contenido completo.</i></p>
          {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
  </section>
  <aside class="categories">
      <div class="category-section">
          <h3>Categorías - Free</h3>
          {% for category in permited_categories %}
            {% if category.type == 'free' %}
            <p>{{ category.name }}</p>
            {% endif %}
          {% endfor %}
      </div>
      <div class="category-section">
          <h3>Categorías - Suscriptor</h3>
          {% for category in permited_categories %}
            {% if category.type == 'suscription' %}
              <p>{{ category.name }}</p>
            {% endif %}
          {% endfor %}
          {% for category in not_permited_categories %}
            {% if category.type == 'suscription' %} 
              <p>🔒 {{category.name}}</p>
            {% endif %}
          {% endfor %}
      </div>
      <div class="category-section">
          <h3>Categorías - Pagas</h3>
          {% for category in permited_categories %}
            {% if category.type == 'pay' %}
              <p>{{ category.name }}</p>
            {% endif %}
          {% endfor %}

          {% for category in not_permited_categories %}
            {% if category.type == 'pay' %} 
            <p>🔒 {{category.name}}</p>
            {% endif %}
          {% endfor %}
      </div>
  </aside>
</main>

{% endblock content %}
