{% extends 'base.html' %}

{% block content %}
<h2>Lista de Categorías Vendidas</h2>
<ul>
    {% for category, sales, earning, buyers in category_data %}
        <li><strong>{{ category }}</strong> - Ventas: {{ sales }} - Ganancias: ${{ earning }} - Compradores: {{ buyers|join:", " }}</li>
    {% endfor %}
</ul>

<p><strong>Total General de Ganancias:</strong> ${{ total_general }}</p>

<div class="download-button-container">
    <form method="GET" action="{% url 'download-sold-categories' %}">
        <button type="submit" class="btn btn-primary">Descargar lista de categorías vendidas</button>
    </form>
</div>

<style>
    .download-button-container {
        margin-top: 20px;
    }
</style>
{% endblock %}

