{% extends 'base.html' %}
{% block headblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/roles.css' %}">
{% endblock headblock %}

{% block content %}
  <h2>Lista de Usuarios</h2>

  <table class="form-table">
    <thead>
      <tr>
        <th>Nombre de Usuario</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          {% if user.roles.all %}
            <ul>
              {% for rol in user.roles.all %}
                <li>{{ rol.name }}</li>
              {% endfor %}
            </ul>
          {% else %}
            Sin Roles
          {% endif %}
        </td>
        <td>
          <a href="{% url 'assign_roles' user.pk %}" class="btn">Asignar Roles</a>
          
          <!-- Button for toggling user status -->
          {% if user.is_active %}
          <a href="{% url 'toggle_user_status' user.pk %}" class="btn btn-danger">Desactivar</a>
          {% else %}
          <a href="{% url 'toggle_user_status' user.pk %}" class="btn btn-success">Activar</a>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No hay usuarios disponibles.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
